@font-face {
    font-family: 'Neutraface 2 Display';
    src: url('Neutraface2Display-Medium.eot');
    src: url('Neutraface2Display-Medium.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Display-Medium.woff2') format('woff2'),
        url('Neutraface2Display-Medium.woff') format('woff'),
        url('Neutraface2Display-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Text Book';
    src: url('Neutraface2Text-Book.eot');
    src: url('Neutraface2Text-Book.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Text-Book.woff2') format('woff2'),
        url('Neutraface2Text-Book.woff') format('woff'),
        url('Neutraface2Text-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Display Inline';
    src: url('Neutraface2Display-Inline.eot');
    src: url('Neutraface2Display-Inline.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Display-Inline.woff2') format('woff2'),
        url('Neutraface2Display-Inline.woff') format('woff'),
        url('Neutraface2Display-Inline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sabon LT Std';
    src: url('SabonLTStd-Italic.eot');
    src: url('SabonLTStd-Italic.eot?#iefix') format('embedded-opentype'),
        url('SabonLTStd-Italic.woff2') format('woff2'),
        url('SabonLTStd-Italic.woff') format('woff'),
        url('SabonLTStd-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Neutraface 2 Condensed';
    src: url('Neutraface2Condensed-Thin.eot');
    src: url('Neutraface2Condensed-Thin.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Condensed-Thin.woff2') format('woff2'),
        url('Neutraface2Condensed-Thin.woff') format('woff'),
        url('Neutraface2Condensed-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('Neutraface2Text-Bold.eot');
    src: url('Neutraface2Text-Bold.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Text-Bold.woff2') format('woff2'),
        url('Neutraface2Text-Bold.woff') format('woff'),
        url('Neutraface2Text-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sabon LT Std';
    src: url('SabonLTStd-BoldItalic.eot');
    src: url('SabonLTStd-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('SabonLTStd-BoldItalic.woff2') format('woff2'),
        url('SabonLTStd-BoldItalic.woff') format('woff'),
        url('SabonLTStd-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neutraface 2 Display Titling';
    src: url('Neutraface2Display-Titling.eot');
    src: url('Neutraface2Display-Titling.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Display-Titling.woff2') format('woff2'),
        url('Neutraface2Display-Titling.woff') format('woff'),
        url('Neutraface2Display-Titling.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Condensed';
    src: url('Neutraface2Condensed-Light.eot');
    src: url('Neutraface2Condensed-Light.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Condensed-Light.woff2') format('woff2'),
        url('Neutraface2Condensed-Light.woff') format('woff'),
        url('Neutraface2Condensed-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('Neutraface2Text-Light.eot');
    src: url('Neutraface2Text-Light.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Text-Light.woff2') format('woff2'),
        url('Neutraface2Text-Light.woff') format('woff'),
        url('Neutraface2Text-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Condensed';
    src: url('Neutraface2Condensed-Bold.eot');
    src: url('Neutraface2Condensed-Bold.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Condensed-Bold.woff2') format('woff2'),
        url('Neutraface2Condensed-Bold.woff') format('woff'),
        url('Neutraface2Condensed-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('Neutraface2Text-BoldItalic.eot');
    src: url('Neutraface2Text-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Text-BoldItalic.woff2') format('woff2'),
        url('Neutraface2Text-BoldItalic.woff') format('woff'),
        url('Neutraface2Text-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Neutraface 2 Display';
    src: url('Neutraface2Display-Light.eot');
    src: url('Neutraface2Display-Light.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Display-Light.woff2') format('woff2'),
        url('Neutraface2Display-Light.woff') format('woff'),
        url('Neutraface2Display-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Text Demi';
    src: url('Neutraface2Text-Demi.eot');
    src: url('Neutraface2Text-Demi.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Text-Demi.woff2') format('woff2'),
        url('Neutraface2Text-Demi.woff') format('woff'),
        url('Neutraface2Text-Demi.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Condensed';
    src: url('Neutraface2Condensed-Medium.eot');
    src: url('Neutraface2Condensed-Medium.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Condensed-Medium.woff2') format('woff2'),
        url('Neutraface2Condensed-Medium.woff') format('woff'),
        url('Neutraface2Condensed-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Text Demi';
    src: url('Neutraface2Text-DemiItalic.eot');
    src: url('Neutraface2Text-DemiItalic.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Text-DemiItalic.woff2') format('woff2'),
        url('Neutraface2Text-DemiItalic.woff') format('woff'),
        url('Neutraface2Text-DemiItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Neutraface 2 Display';
    src: url('Neutraface2Display-Bold.eot');
    src: url('Neutraface2Display-Bold.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Display-Bold.woff2') format('woff2'),
        url('Neutraface2Display-Bold.woff') format('woff'),
        url('Neutraface2Display-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Display';
    src: url('Neutraface2Display-Thin.eot');
    src: url('Neutraface2Display-Thin.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Display-Thin.woff2') format('woff2'),
        url('Neutraface2Display-Thin.woff') format('woff'),
        url('Neutraface2Display-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Condensed Titling';
    src: url('Neutraface2Condensed-Titling.eot');
    src: url('Neutraface2Condensed-Titling.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Condensed-Titling.woff2') format('woff2'),
        url('Neutraface2Condensed-Titling.woff') format('woff'),
        url('Neutraface2Condensed-Titling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Text';
    src: url('Neutraface2Text-LightItalic.eot');
    src: url('Neutraface2Text-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Text-LightItalic.woff2') format('woff2'),
        url('Neutraface2Text-LightItalic.woff') format('woff'),
        url('Neutraface2Text-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Sabon LT Std';
    src: url('SabonLTStd-Bold.eot');
    src: url('SabonLTStd-Bold.eot?#iefix') format('embedded-opentype'),
        url('SabonLTStd-Bold.woff2') format('woff2'),
        url('SabonLTStd-Bold.woff') format('woff'),
        url('SabonLTStd-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Neutraface 2 Text Book';
    src: url('Neutraface2Text-BookItalic.eot');
    src: url('Neutraface2Text-BookItalic.eot?#iefix') format('embedded-opentype'),
        url('Neutraface2Text-BookItalic.woff2') format('woff2'),
        url('Neutraface2Text-BookItalic.woff') format('woff'),
        url('Neutraface2Text-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sabon LT Std';
    src: url('SabonLTStd-Roman.eot');
    src: url('SabonLTStd-Roman.eot?#iefix') format('embedded-opentype'),
        url('SabonLTStd-Roman.woff2') format('woff2'),
        url('SabonLTStd-Roman.woff') format('woff'),
        url('SabonLTStd-Roman.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

